[Unit]
Description=ASDF install
Documentation=https://asdf-vm.com/guide/introduction.html

[Service]
ExecStart=bash /opt/asdf/index.sh
Restart=no
Type=oneshot
TimeoutStartSec=infinity
RemainAfterExit=yes
User=web
PassEnvironment=PATH
PassEnvironment=ASDF_DIR
PassEnvironment=ASDF_DATA_DIR
PassEnvironment=LOCALHTTPS_DATA

[Install]
WantedBy=main.service
