[Unit]
Description=ASDF install
# Wants=main.service
# After=main.service

[Service]
ExecStart=bash /opt/asdf/index.sh
Restart=no
Type=oneshot
TimeoutStartSec=infinity
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
