[Unit]
Description=Main service

[Service]
ExecStart=bash /opt/main.sh
Restart=no
Type=oneshot
TimeoutStartSec=infinity
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
