[Unit]
Description=PHP-FPM-81 service
After=asdf.service

[Service]
Type=forking
PIDFile=/run/php-fpm-81.pid
ExecStart=/home/.asdf/data/installs/php/8.1.13/sbin/php-fpm --nodaemonize
PassEnvironment=PATH
PassEnvironment=ASDF_DIR
PassEnvironment=ASDF_DATA_DIR
PassEnvironment=LOCALHTTPS_DATA

[Install]
WantedBy=nginx.service
