[Unit]
Description=PHP-FPM-74 service
After=asdf.service

[Service]
Type=forking
PIDFile=/run/php-fpm-74.pid
ExecStart=/home/.asdf/data/installs/php/7.4.33/sbin/php-fpm --nodaemonize
PassEnvironment=PATH
PassEnvironment=ASDF_DIR
PassEnvironment=ASDF_DATA_DIR
PassEnvironment=LOCALHTTPS_DATA

[Install]
WantedBy=nginx.service
