[Unit]
Description=PHP-FPM-82 service
After=asdf.service

[Service]
Type=forking
PIDFile=/run/php-fpm-82.pid
ExecStart=/home/.asdf/data/installs/php/8.2.1/sbin/php-fpm --nodaemonize
PassEnvironment=PATH
PassEnvironment=ASDF_DIR
PassEnvironment=ASDF_DATA_DIR
PassEnvironment=LOCALHTTPS_DATA

[Install]
WantedBy=nginx.service
