[Unit]
Description=The PHP 56 FastCGI Process Manager
After=asdf.service

[Service]
Type=simple
PIDFile=/run/php-fpm-56.pid
ExecStart=/home/.asdf/data/installs/php/5.6.40/sbin/php-fpm --nodaemonize --fpm-config /home/.asdf/data/installs/php/5.6.40/etc/php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID
PassEnvironment=PATH
PassEnvironment=ASDF_DIR
PassEnvironment=ASDF_DATA_DIR
PassEnvironment=LOCALHTTPS_DATA

[Install]
WantedBy=nginx.service
